# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.


  job_3:
    name: Display results
    runs-on: ubuntu-latest
    steps:
      - name: Download math result for job 2
        uses: actions/checkout@v2

      - name: Print the final result
        shell: bash
        run: |
          Coverage= cat ./.github/workflows/Code-Coverage-Percent.txt
          echo "Code_Coverage=$Coverage" >> $GITHUB_ENV
          Cove_Coverage=$Coverage
          #echo $Code_Coverage
          #echo This is also displayed PLEASE WORK
          test="meow"
          Coverage=$( cat ./.github/workflows/Code-Coverage-Percent.txt )
          echo "break"
          read -r firstline<Code-Coverage-Percent.txt
          echo $firstline
          echo "1: $Coverage 2:$test 3:$foo"
          read -r firstline<.github/workflows/Code-Coverage-Percent.txt
          echo $firstline
          echo This is also displayed
          ls
